body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    font-size: 0.8em; /* Smaller text to fit smaller cells */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead th {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    height: 30px; /* Smaller cell height */
}

.judiemae {
    background-color: #ffcccb;
}

.thelma {
    background-color: #add8e6;
}

.newagent {
    background-color: #90ee90;
}
